.atag {
    display: inline-block;
    position: relative;
    color:  var(--gray-color);
    text-decoration: none;
  }
  .atag::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.09em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .atag:hover::after {
    color:  var(--gray-color);
    transform: scaleX(1);
    transform-origin: bottom left;
  }