@tailwind base;
@tailwind components;
@tailwind utilities;

.container-5 {
  padding: 5px;
}
.container-10 {
  padding: 10px;
}
.container-20 {
  padding: 20px;
}
.rte-content h1 {
  @apply text-4xl font-bold mb-4;
}

.rte-content h2 {
  @apply text-3xl font-semibold mb-3;
}

.rte-content p {
  @apply text-base mb-4;
}

.rte-content strong {
  @apply font-bold;
}

.rte-content em {
  @apply italic;
}

.rte-content ul {
  @apply list-disc pl-6 mb-4;
}

.rte-content ol {
  @apply list-decimal pl-6 mb-4;
}

.rte-content span {
  @apply text-base;
}